
.wrapper .button{
    display: inline-block;
    /* display:flex; */
    /* grid-template-columns: repeat(2,1fr); */
    height: 60px;
    aspect-ratio: 1/1;
   
    margin: 0 5px;
    background: #fff;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all .13s ease-in-out;
   
}
.wrapper .button .icon{
    display: inline-block;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50px;
    line-height: 60px;
    box-sizing: border-box;
    text-align: center;
    
}
.wrapper .button .icon,
.wrapper .button span{
    transition: all .3s ease-in-out;
}
.wrapper .button:nth-child(1):hover .icon{
    background-color: dodgerblue;
}
.wrapper .button:nth-child(2):hover .icon{
    background-color: rgb(94, 255, 30);
}
.wrapper .button:nth-child(1):hover span{
    color: dodgerblue;
}
.wrapper .button:nth-child(2):hover span{
    color: rgb(94, 255, 30);
}


.wrapper .button .icon i{
    font-size:25px;
    line-height: 60px;
}
.wrapper .button:hover{
    width:200px;
    /* transform: scaleX(1.6); /* Slightly enlarges the button on hover */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    
}
   

.wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left:10px;
}

/* .box{
    background-color: dodgerblue;
    width: 100px;
    aspect-ratio: 1/1;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 200px;
    margin:200px 100px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    
}
.box:hover{
    transform:translate(-30px);
}
.tooltip{
    width: 400px;
    background-color: rgb(204, 204, 204);
    box-shadow: 0px, 0px, 0px, 0.5px;
   
    
    
    display: inline-block;
    padding: 5px 10px;

   
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
} */